.create{
	padding-left:20px;
	height:30px;
	color:blue;
	float:left;
	font-size:11px;
	line-height:35px;
	font-style:italic;
}

.title{
	color:#08c;
	font-size:20px;
	font-weight:400;
	line-height:20px;      
}
.line{
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:10px;
	color:#A9BCF5;
	background-color:#A9BCF5;
	border:none;
	height:1px;
	width:100%;
}
.text{
	text-align:justify;
	margin-top:10px;
	margin-bottom:50px;
}

.block{
	margin-top:10px;
	margin-bottom:10px;
    border:1px solid #ccccff;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.text_field{
	width:88%;
	height:600px;
	border: 1px solid #A9BCF5;
	color: #222;
}


.text_field_line{
	width:89%;
	border: 1px solid #A9BCF5;
	color: #222;
}

.comment{
	height:24px;
	width:100%;
	border:1px solid #A9BCF5;
	background-color:#fff;
	color:#222;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	-moz-box-shadow: inset 0px 0px 1px #444;
	-webkit-box-shadow: inset 0px 0px 1px #444;
	box-shadow: inset 0px 0px 1px #444;
}

#comment_text_field{
	margin:10px 0px 10px 0px;
}

#history_table{
	width:100%;
/*	border: 1px;
	border-style:solid;
*/	border-color:#A9BCF5;
	color:blue;
/*	font-size:13px;
	border-collapse:collapse;	
*/
}
#history_table td{
	font-width:12px;
	height:30px;
	border:1px solid #A9BCF5;
	text-align:center;
}
#history_table th{
	font-weight:normal;
	font-size:13px;
	height:30px;
	border:1px solid #A9BCF5;
	background-color:#EFF5FB;
	text-align:center;
}
.errors{
	border:1px solid red;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	color:red;
}

.comment_field{
    width:100%;                                                                
    border: 1px solid #A9BCF5;                                                 
    color: #222;
    height:50px;
}

.error{
	padding-top:3px;
	padding-bottom:3px;

}
/* Стили для диалогового окан выбора пользователей */
.left_panel_header{
    text-align:left;                                               
    margin-left:-15px;                       
    font-width:600;                                                
    color:black;                                                   
    background-color:#F7F7F7;                                      
    margin-top:-10px;                                              
    height:35px;                                                   
    padding-top:15px;                                              
    padding-left:10px;                                             
    border-bottom:1px solid #DAE1E8;
}

.header_users_left{
    text-align:center;
    font-weight: bold;
    color:#45688E; 
    height:25px; 
    padding-top:15px;
    margin-bottom:0px;
    border-bottom:1px solid gray;
    margin-left:-15px;
}

.left_users_panel{
    border-right:1px solid gray;                                   
    margin-bottom:5px;                                           
    padding-left:10px;                                             
    color:#45688E;                                               
    font-weight:bold;
/*    overflow:visible; */
}


.left_user{
    margin-top:5px;                                              
    margin-bottom:5px;                                      
    margin-left:-35px;
    padding-left:30px;
    color:#45688E;                                               
    font-weight:bold;                                            
    border-bottom:1px solid gray;                                
    height:30px;                                                 
    padding-top:10px;
    cursor: pointer;
}


/* right */

.right_panel_header{
    text-align:left;                                               
/*    margin-right:-15px;                       
*/    color:black;                                                   
    background-color:#F7F7F7;                                      
    margin-top:-10px;
    margin-right:-10px;
    height:35px;                                                   
    padding-top:15px;                                              
    padding-left:10px;                                             
    border-bottom:1px solid #DAE1E8;
}


.header_users_right{
    text-align:center;
    font-weight: bold;
    color:#45688E; 
    height:25px; 
    padding-top:15px;
    margin-bottom:0px;
    border-bottom:1px solid gray;
    margin-right:-10px;
}


.right_users_panel{
    margin-bottom:5px;                                           
/*    padding-left:10px;                                             
*/    color:#45688E;                                               
    font-weight:bold;
    margin-left:400px;
}


.right_user{
    margin-top:5px;                                              
    margin-bottom:5px;
/*    margin-left:30px;
    padding-left:15px;                                             
*/    color:#45688E;                                               
    font-weight:bold;                                            
    border-bottom:1px solid gray;                                
    height:30px;                                                 
    padding-top:10px;
    cursor: pointer;
    padding-left:20px;
    margin-right:-10px;
}

#left_panel_search{
    border: 1px solid #C0CAD5;
/*    border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;
*/  font: italic 15px Georgia; 
    color: #898989;                          
    outline: none; /*Для Chrome и Safari*/
    width:300px;
}

.left_panel_search.active{
    border: 1px solid blue;
    color:black;
    font-style:normal;
}

