
body{
	font-family:sans-serif;
	font-size:13px;
	color:#000;
	margin:0;
	padding:0;
	background-color:#EFF5FB;
}
div{
	padding:0 0 0 0;
	margin:0 0 0 0;
}
#header{
	width:100%;
	height:50px;
/*	background-color:red; */
	background-image: -moz-linear-gradient(#ffffff, #EFF5FB);
        background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#EFF5FB));
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#EFF5FB);
	background-image: -o-linear-gradient(#ffffff,#EFF5FB);
}

#logo{
	width:200px;
	float:left;
	font-size:20px;
	font-weight:400;
	height:100%;
	top:30%;
	padding-left:5px;
	position:relative;
	display: inline-block;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
/*	background-color:blue; */
}
#user{
	position:relative;
	top:30%;
	padding-right:30px;
	height:auto;
	text-align:right;
	float:right;
}

#conteiner{
	min-height:400px;
}

#left_panel{
	z-index:8932;
	width:200px;
	float:left;
	height:auto;
	border-right: 1px double #A9BCF5;
/*	background-color:yellow; */
}
#temp{
	float:left;
}

#main_menu{
	text-align:right;
	border-bottom: 1px solid #A9BCF5;
	height:35px;
/*	background-color:#00f;
*/	margin-left:200px;
	padding-bottom:0px;	
	margin-bottom:0px;
	padding-bottom:0px;
	bottom:0;
/*	float:right; */

}

#navigation{
	border-bottom: 1px solid #A9BCF5;
	display:inline-block;
/*	background-color:#f00;  
*/	list-style:none;	
	
	margin:0;
	padding:0;

	margin-bottom: 0;
	padding-bottom:0px;	
	float:left
/*	margin-left:80px;
*/	border-left:1px solid #333;
}

#content{
	padding-right:20px;
	text-align:left;
	background-color:#fff;
	margin-left:200px;
	min-height:400px;
	padding-bottom:0px;
	padding-top:20px;
	padding-left:20px;
	margin-top:0px;
	border-left: 1px double #A9BCF5;
	border-bottom: 1px double #A9BCF5;
}
#copy{
	width:100%;
	height:50px;
	vertical-align:middle;
	padding-top:20px;
	text-align:center;
/*	background-color:#00f; */
	float:left;
}
/*##############################################################################################################################*/
ul#left_menu{
	margin: 0px auto;
	margin-top:30px;
	list-style-type:none;
	margin-left:10px;
	padding-left:10px;
}

ul#left_menu li{
	line-height:1.75;
}

ul#left_menu li a{
	color: blue;
	text-decoration:none;
}



#navigation li{
	padding:0;
	margin:0;
	inline:block;
	float:left;
}

#navigation li a{
	padding:0;
	margin:0;
	color: blue;
	background-color: #EFF5FB;
	inline: block;
	float:left;
	line-height:28px;
	width:100px;
	text-decoration:none;
	text-align:center;
	border-right: 1px solid #A9BCF5;
	border-left: 1px solid #A9BCF5;
/*	border-bottom: 1px solid #A9BCF5; */
/*	border-top: 1px solid #999; */
}

#navigation li a:hover{
	background-color:#fff;
	color:blue;
	border-bottom: none;
}

#searchbar{
/*    position:absolute;
    padding-top:0px;
    margin-top:0px;
    display: inline-block;i*/
	float:right;/*
	padding-left:15px;
	display:table-cell;
	height:30px;
	margin-left:10px;
/*	background-color:#0f0;
	width:300px;
/*	text-align:left;
*/
/*	vertical-align:center; */
/*	border-left: 1px solid #A9BCF5;
*/
}

#searchform:{
/*    padding-top:0px;
    margin-top:0px;
	float:left; 
    margin:0px;
    padding:0px;
    background-color:#ccc;
*/
}
#searchform input:{
/*	float:left; */
}
#searchform input[type='text']{
	height:23px;
	width:200px;
	border:1px solid #A9BCF5;
	background-color:#fff;
	border-right:none;
    
    margin-top:0px;
    padding-top:0px;

	padding-left:5px;
	color:#555;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	-moz-box-shadow: inset 0px 0px 1px #444;
	-webkit-box-shadow: inset 0px 0px 1px #444;
	box-shadow: inset 0px 0px 1px #444;

}



#page_name{
	height:23px;
	width:200px;
	border:1px solid #A9BCF5;
	background-color:#fff;
	border-right:none;
    
    margin-top:0px;
    padding-top:0px;

	padding-left:5px;
	color:#555;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	-moz-box-shadow: inset 0px 0px 1px #444;
	-webkit-box-shadow: inset 0px 0px 1px #444;
	box-shadow: inset 0px 0px 1px #444;

}



#searchform input[type="text"]:focus { outline: none; }

#searchform input[type='submit'] {
    padding-top:10px;
    margin-top:0px;
    padding-top:0px;
	border: 1px solid #A9BCF5;
	border-left: none;
	height: 26px;
	width: 25px;	

	border-left:none;
	margin-left:-5px;
	padding-left:-10px;
	background: #fff url(/wiki/static/search.png) no-repeat center center;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
    box-shadow: inset 0px 0px 1px #444;
}

#navigation li #active{
	background-color:#fff;
	border-bottom:none;
}
/* ############################################################################################## */

.create{
	padding-left:20px;
	height:30px;
	color:blue;
	float:left;
	font-size:11px;
	line-height:35px;
	font-style:italic;
}

.title{
	font-size:30px;
	font-weight:400;
}
.line{
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:10px;
	color:#A9BCF5;
	background-color:#A9BCF5;
	border:none;
	height:1px;
	width:100%;
}
.text{
	text-align:justify;
	margin-top:10px;
	margin-bottom:50px;
}

.block{
	margin-top:10px;
	margin-bottom:10px;
}

.text_field{
	width:88%;
	height:400px;
	border: 1px solid #A9BCF5;
	color: #222;
}


.text_field_line{
	width:89%;
	border: 1px solid #A9BCF5;
	color: #222;
}

.comment{
	height:24px;
	width:100%;
	border:1px solid #A9BCF5;
	background-color:#fff;
	color:#222;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	-moz-box-shadow: inset 0px 0px 1px #444;
	-webkit-box-shadow: inset 0px 0px 1px #444;
	box-shadow: inset 0px 0px 1px #444;
}

#comment_text_field{
	margin:10px 0px 10px 0px;
}

#history_table{
	width:100%;
	border: 1px;
	border-style:solid;
	border-color:#A9BCF5;
	color:blue;
	font-size:13px;
	border-collapse:collapse;	
}
#history_table td{
	font-width:12px;
	height:30px;
	border:1px solid #A9BCF5;
	text-align:center;
}
#history_table th{
	font-weight:normal;
	font-size:13px;
	height:30px;
	border:1px solid #A9BCF5;
	background-color:#EFF5FB;
	text-align:center;
}
.errors{
	border:1px solid red;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	color:red;
}

.comment_field{
    width:100%;                                                                
    border: 1px solid #A9BCF5;                                                 
    color: #222;
    height:50px;
}

.error{
	padding-top:3px;
	padding-bottom:3px;

}
/* Стили для диалогового окан выбора пользователей */
.left_panel_header{
    text-align:left;                                               
    margin-left:-15px;                       
    font-width:600;                                                
    color:black;                                                   
    background-color:#F7F7F7;                                      
    margin-top:-10px;                                              
    height:35px;                                                   
    padding-top:15px;                                              
    padding-left:10px;                                             
    border-bottom:1px solid #DAE1E8;
}

.header_users_left{
    text-align:center;
    font-weight: bold;
    color:#45688E; 
    height:25px; 
    padding-top:15px;
    margin-bottom:0px;
    border-bottom:1px solid gray;
}

.left_users_panel{
    border-right:1px solid gray;                                   
    margin-bottom:5px;                                           
    padding-left:10px;                                             
    color:#45688E;                                               
    font-weight:bold;
    overflow:visible;
}


.left_user{
    margin-top:5px;                                              
    margin-bottom:5px;                                      
    padding-left:10px;                                             
    color:#45688E;                                               
    font-weight:bold;                                            
    border-bottom:1px solid gray;                                
    height:30px;                                                 
    padding-top:10px;
    cursor: pointer;
}


/* right */

.right_panel_header{
    text-align:left;                                               
/*    margin-right:-15px;                       
*/    color:black;                                                   
    background-color:#F7F7F7;                                      
    margin-top:-10px;                                              
    height:35px;                                                   
    padding-top:15px;                                              
    padding-left:10px;                                             
    border-bottom:1px solid #DAE1E8;
}


.header_users_right{
    text-align:center;
    font-weight: bold;
    color:#45688E; 
    height:25px; 
    padding-top:15px;
    margin-bottom:0px;
    border-bottom:1px solid gray;
}


.right_users_panel{
    margin-bottom:5px;                                           
/*    padding-left:10px;                                             
*/    color:#45688E;                                               
    font-weight:bold;
    margin-left:400px;
}


.right_user{
    margin-top:5px;                                              
    margin-bottom:5px;
/*    margin-left:30px;
    padding-left:15px;                                             
*/    color:#45688E;                                               
    font-weight:bold;                                            
    border-bottom:1px solid gray;                                
    height:30px;                                                 
    padding-top:10px;
    cursor: pointer;
}


