{% extends "_base.html" %} 

{% block title %}Index{% endblock %}

{% block content %}
  <div class="title">
    Алфавитный указатель
  </div>

  <hr class="line">

<table id="toc" class="plainlinks" style="color:blue;padding: 3px;">
    <tbody>
      <tr>
        {% for d in "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЭЮЯ" %}
        <td style="width:35px;"> 
              {% if alphabet.ru[d] %}
                <span>
                  <a style="text-decoration:none;color:blue;" title="Колличество статей: {{ alphabet.ru[d] }}" href="/wiki/alphabet/{{d }}">{{ d }}
                    <sub>{{ alphabet.ru[d] }}</sub>
                  </a>
                </span>
              {% else %}
                <span style="color:black;">
                  {{ d }}
                </span>
              {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        {% for d in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
          <td style="">
              {% if alphabet.en[d] %}
                <span>
                  <a style="text-decoration:none;color:blue;" title="Колличество статей: {{ alphabet.en[d] }}" href="/wiki/alphabet/{{d }}">{{ d }}
                    <sub>{{ alphabet.en[d] }}</sub>
                  </a>
                </span>
              {% else %}
                <span style="color:black;">
                  {{ d }}
                </span>
              {% endif %}
          </td>
        {% endfor %}
        <td></td>
        <td></td>
        
        <td></td>
        <td></td>
      
      </tr>
  </tbody>
</table>
{% endblock %}
