{% extends "_base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="title">
    Поиск: {{ search }}
  </div>
  {% if pages %}
    {% for page in pages %}
      <div class="text">
         <div style="color:black;font-size:18px;">
            <a href="/wiki/{{page.url}}">{{page.title|title}}</a>
          </div>
          
          <hr class="line">

          <div style="color:blue;font-size:12px;">
            Теги:
            {% for d in page.tags %}
               <a href="/wiki/tags/{{d}}">{{d}}</a>
            {% endfor %}
          </div>
      </div>
    {% endfor %}
  {% endif%}
{% endblock %}
