

{% extends "_base.html" %}

{% block content %}

<form id="form_page" class="form-horizontal well" method="post" action="/wiki/{{word}}/edit">
    {#      {{ form.url }} #}
    {% if form.errors %}
        <div class="row-fluid">
            <div class="span12">
				<div class="errors" style="margin-bottom:10px;">
                    {% if form.errors.access %}
                        <div class="error">
                            Ошибка: {{ form.errors.access[0] }}
                        </div>
                    {% endif %}
                    {% if form.errors.access_show %}
                        <div class="error">
                            Ошибка: {{ form.errors.access_show[0] }}
                        </div>
                    {% endif %}
				</div>		
	        </div>
        </div>
    {% endif %}		

<div class="row-fluid">
        <div class="span12">
			<div class="title">
				Создание страницы
			</div>
			<hr class="line">
		</div>
    </div>
    <div class="row-fluid">
        <div class="span2">            
            Заголовок
        </div>
        
        <div class="span10">
            {{ form.title( class = "input-xlarge span12" ) }}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">            
            Права на правку и<br> просмотр
        </div>
        
        <div class="span9" id="access_edit_block">
            <div>{{ form.access( class = "" ) }}</div>
        </div>
        <div class="span1">
            <input type="button" value="+" class="btn btn-info" id="add_users_edit">    
        </div>
    </div>
    
    <div class="row-fluid">
            <div class="span2">
                Права на просмотр
            </div>
            <div class="span9" id="access_show_block">
                <div>{{ form.access_show( class = "" ) }}</div>
            </div>
        <div class="span1">
            <input type="button" class="btn btn-info" value="+" id="add_users_show">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
            Опубликовать
            {{ form.active }}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {{ form.text(class = "text_field", id="textID") }}
            <script type="text/javascript" src="{{ url_for( '.static', filename='ckeditor/ckeditor.js' ) }}"></script>
        </div>
    </div>

    <br>
    
    <div class="row-fluid">
        <div class="span2">
                Теги
        </div>
        <div class="span10">
            {{ form.tags( class = "", id="myTags" ) }}               
        </div>
    </div>
    
    <div class="row-fluid">
            <div class="span2">
                Комментарий
            </div>
            <div class="span10">
                {{ form.comment( class = "input-xlarge span12" ) }}
            </div>
    </div>

    <br>

    <div class="row-fluid">
        <div class="span12">
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </div>
    </div>

</form>

   <script type="text/javascript">
            $("#myTags").tagit(
              {
                fieldName: "tags"
              }
              );
            $('#access').tagit({'fieldName':'access'});
            $('#access_show').tagit({'fieldName':'access_show'});

            CKEDITOR.replace( 'textID',{});
      </script>
    </form>

{% include "dialog.html" %}

{% include "delete_page_dialog.html" %}

{{get_all_users()|safe}}

{% endblock %}


