{% extends "_base.html" %}

{% block content %}
  <form method="post" id="form" action="/wiki/{{word}}/edit">

    {% if form.errors %}
    <div class="errors">                                                   
        {% if form.errors.access %}                                      
          <div class="error">                                            
            Ошибка: {{ form.errors.access[0] }}                          
          </div>                                                         
        {% endif %}                                                      
        {% if form.errors.access_show %}                                        
          <div class="error">                                                   
            Ошибка: {{ form.errors.access_show[0] }}                       
          </div>                                                                
        {% endif %}                                                        
      </div>
    {% endif %}
    
			<div class="title">
				Создание страницы
			</div>
			
			<hr class="line">
			
      <div class="block" style="width:100%">
        <div style="width:120px;float:left;">
          Заголовок
        </div>
        <div style="width:100%;">
         {{ form.title( class = "text_field_line" ) }}
        </div>
      </div>
      
      <div class="block">
          <div style="width:120px;float:left;">
            Права на правку
          </div>  
          <div id="access_edit_block" style="">
              <div style="width:98%;">{{ form.access( class = "text_field_line" ) }}</div>
              <div style="float:right;margin-top:-45px;">
                <input type="button" value="+" id="add_users_edit">
              </div>
          </div>   
      </div>

      <div class="block">                                                      
        <div style="width:120px;float:left;">                                  
            Права на просмотр                                                    
        </div>                                                                 
        <div>                                                                  
          {{ form.access_show(class="text_field_line") }}                      
        </div>                                                                 
      </div>

      <div class="block">                                                          
        <div id="wmd-button-bar" class="wmd-panel"></div>                          
          {{ form.text(class = "text_field", id="wmd-input") }}                    
      </div>


      <script type="text/javascript" src="{{ url_for( '.static', filename='wmd/wmd.js' ) }}"></script>  

      <div class="block">
        <div style="width:120px;float:left;">
          Теги
        </div>
        <div>
          {{ form.tags( class = "text_field_line", id="myTags" ) }} 
        </div>
			</div>

      <div class="block">
        <div style="width:120px;float:left;">
          Комментарий
        </div>
        <div>
				  {{ form.comment( class = "text_field_line" ) }}
        </div>
			</div>

			<div class="block">
				<input type="submit" value="Сохранить"/>
      </div>
      <script type="text/javascript">
            $("#myTags").tagit(
              {
                fieldName: "tags"
              }
              );
            $('#access').val( "{{current_user.last_name}} {{ current_user.first_name }}" );
            $('#access').tagit({'fieldName':'access'});
            $('ul.tagit').width("86%");
      </script>
    </form>

<div id="dialog">
    <div style="float:left;width:400px;">
        <div class="left_panel_header">
            <input type="text" id="left_panel_search" value="Начните вводить имя пользователя" style="width:390px;">
        </div>
        <div class="header_users_left">
            Все пользователи
        </div>
        <div class="left_users_panel">
{#            <div class="left_user">
                Иванов Иван
            </div>
            <div class="left_user">
                Петров Петр
            </div>
#}        </div>
    </div> 
    <div>
        <div class="right_panel_header">
            <input type="text" value="Начните вводить имя пользователя" style="width:350px;">
        </div>
        <div class="header_users_right">
            Выбранные пользователи
        </div>
        <div class="right_users_panel">
{#            <div class="right_user">
                User1
            </div>
            <div class="right_user">
                User2
            </div>
#}        </div>
    </div>
  
  {{get_all_users()|safe}}
  <script type="text/javascript" src="{{ url_for( '.static', filename='form_access_edit.js' ) }}"></script>
{% endblock %}

