{% extends "_base.html" %}

{% block content %}
  <form method="post" id="form" action="/wiki/{{word}}/edit">

    {% if form.errors %}
    <div class="errors">                                                   
        {% if form.errors.access %}                                      
          <div class="error">                                            
            Ошибка: {{ form.errors.access[0] }}                          
          </div>                                                         
        {% endif %}                                                      
        {% if form.errors.access_show %}                                        
          <div class="error">                                                   
            Ошибка: {{ form.errors.access_show[0] }}                       
          </div>                                                                
        {% endif %}                                                        
      </div>
    {% endif %}
    
			<div class="title">
				Создание страницы
			</div>
			
			<hr class="line">
			
      <div class="block" style="width:100%">
        <div style="width:120px;float:left;">
          Заголовок
        </div>
        <div style="width:100%;">
         {{ form.title( class = "text_field_line" ) }}
        </div>
      </div>
      
      <div class="block">
          <div style="width:120px;float:left;">
            Права на правку
          </div>  
          <div>
            {{ form.access( class = "text_field_line" ) }}
          </div>   
      </div>

      <div class="block">                                                      
        <div style="width:120px;float:left;">                                  
            Права на просмотр                                                    
        </div>                                                                 
        <div>                                                                  
          {{ form.access_show(class="text_field_line") }}                      
        </div>                                                                 
      </div>

      <div class="block">                                                          
        <div id="wmd-button-bar" class="wmd-panel"></div>                          
          {{ form.text(class = "text_field", id="wmd-input") }}                    
      </div>


    <script type="text/javascript" src="/static/wiki/wmd/wmd.js"></script>  

      <div class="block">
        <div style="width:120px;float:left;">
          Теги
        </div>
        <div>
          {{ form.tags( class = "text_field_line" ) }}
        </div>
			</div>

      <div class="block">
        <div style="width:120px;float:left;">
          Комментарий
        </div>
        <div>
				  {{ form.comment( class = "text_field_line" ) }}
        </div>
			</div>

			<div class="block">
				<input type="submit" value="Сохранить"/>
			</div>
    </form>
    <script>
      $('#form').unbind('submit');
    </script>
{% endblock %}

