{% extends "_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <div class="title">
    {% if page %}
      {{ page.title }}
    {% else %}
		    Заглавная страница: «Живые встречи» Wiki
    {% endif %}
	</div>
  <hr class="line">
  {% if page%}
    {{ page.text|safe }}
  {% else %}
  <div class="text" style="color:red;">
    Главная страница еще не созданна
  </div>
  {% endif %}
  {#
{% include "delete_page_dialog.html" %}
#}
{#
  <div class="text">
    {% if current_user.is_authenticated() %}
      Вы можете <a id="create" href="#">создать</a> страницу
    {% endif %}
  </div>
#}  
{% endblock %}

