{% extends "_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{#
  <script type="text/javascript">
    var $dialog; 
    $(document).ready(function () {
        $dialog = $('<div></div>').html('Название <input type="text" value=""  style="width:380px;" id="page_name">')
                      .dialog({
                            autoOpen: false,
                            title: 'Создание страницы',
                            modal: true, 
                            buttons: {
                                "OK": function() {
                                    if( $('#page_name').val() == '')
                                      return false;
                                      window.location.replace( {{ url_for('.view') }} + $('#page_name').val() + '/edit' );
                          },
                                "Cancel": function() {
                                    $(this).dialog("close");
                                }
                            }
                            });
        $dialog.dialog( "option", "width", 500 );
                  $('#create').click(
                      function () {
                        $dialog.dialog('open');
                        return false; ////cancel eventbubbeling
                      });
                  });
</script>
#}
  <div class="title">
    {% if page %}
      {{ page.title }}
    {% else %}
		    Заглавная страница: «Живые встречи» Wiki
    {% endif %}
	</div>
  <hr class="line">
  {% if page%}
    {{ page.text|safe }}
  {% else %}
  <div class="text" style="color:red;">
    Главная страница еще не созданна
  </div>
  {% endif %}
{#
  <div class="text">
    {% if current_user.is_authenticated() %}
      Вы можете <a id="create" href="#">создать</a> страницу
    {% endif %}
  </div>
#}  
{% endblock %}

