{% extends "_base.html" %}

{% block content %}
  
{% if pages %}
  
	<div class="title">
    {{ pages['title'] }}
	</div>
	<hr class="line">
  
  <form action="/wiki/{{word}}/history" method="post">

		<table id="history_table">
			<tr>
				<th width="50">
					Активно
				</th>
				<th width="200">
					Дата изменения
				</th>
				<th width="200">
					Пользователь
				</th>	
				<th width="80">
					Символов
				</th>
				<th width="80">
					Просмотр
				</th>   
				<th>
					Комментарий
        </th>
          {% if current_user.is_authenticated() %}
            {% if current_user.is_admin() %}
              <th width="20">
                Удалить
              </th>
            {% endif %}
          {% endif %}
			</tr>

			{% for page in pages['posts'] %}
				<tr>
					<td>
            <input type="radio" name="history" {% if page['public'] == True %} checked {% endif %} value="{{page['_id']}}">&nbsp
					</td>
					<td>
						{{ page['creation_date'] }}
					</td>
					<td>
            {{ page['user'] }}
					</td>
					<td>
						{{ page['size'] }}
					</td>
					<td>
            <a href="/wiki/{{word}}/history/{{page['_id']}}">
              <img width="20" height="20" src="{{ url_for( '.static', filename='images/lupa.jpg' ) }}"></a>
					</td>
					<td>
						{{ page['comment'] }}					
          </td>
          {% if current_user.is_authenticated() %}
            {% if current_user.is_admin() %}
            <td>
              <a {% if page['public'] == True %} public="1"{% else %} public="0"  {% endif %} class="delete_page" href="{{ url_for('.delete_page', page_id=page['_id'], word = word) }}"><img title="Удалить" src="{{ url_for('.static', filename="images/delete.gif") }}"></a>
            </td>
            {% endif %}
          {% endif %}
				</tr>
      {% endfor %}
    
		</table>
		<div style="margin-top:10px;margin-bottom:50px">
			<input type="submit" value="Сохранить">
		</div>
  </form>

  <div id="message_box">
    <p style="color:red;font-size:15px;">Вы действительно намерены удалить запись?</p>
  </div>


  <div id="message_box_public">
    <p style="color:red;font-size:15px;">Эта активная страница! Ее удаление приведет к удалении всех страниц. Продолжить?</p>
  </div>



<script type="text/javascript">
  var link = "";
  var public_page = 0;


  $message_box_public = $('#message_box_public').dialog({
                                        autoOpen: false,
                                        title: 'Подтвердите операцию',
                                        modal: true,
                                        buttons: {
                                                  "Cancel": function() {
                                                      $(this).dialog("close");
                                                      return false;
                                                  },
                                                  
                                                  "OK": function() {
                                                      $(this).dialog('close');
                                                      window.location.replace( link );
                                                  },
                                              }
                                    }
                            );


  $message_box = $('#message_box').dialog({
                                        autoOpen: false,
                                        title: 'Подтвердите операцию',
                                        modal: true,
                                        buttons: {
                                                  "OK": function() {
                                                      $(this).dialog('close');
                                                      if(public_page == 1){
                                                         $message_box_public.dialog('open');
                                                      } else {
                                                        window.location.replace( link );
                                                      }
                                                  },
                                                  "Cancel": function() {
                                                      $(this).dialog("close");
                                                      return false;
                                                  }
                                              }
                                    }
                            );
  $message_box.dialog( "option", "width", 500 );
  $message_box_public.dialog( "option", "width", 500 )
  
  $('.delete_page').click(
    function(){
        link = $(this).attr('href');
        public_page = $(this).attr('public');
        $message_box.dialog('open');

        return false;
    }
  );
</script>

{% else %}
  <div style="color:red;">
    Пусто
  </div>
{% endif %}
{% endblock %}
