{% extends "_base.html" %}

{% block content %}
  
{% if pages %}

  <form class="form-horizontal well" action="/wiki/{{word}}/history" method="post">

    <div class="row-fluid">
        <div class="span12">
	        <div class="title">
                {{ pages['title'] }}
	        </div>
	        <hr class="line">
        </div>
    </div>

    
    <div class="row-fluid">
        <div class="span12">
            <table id="history_table" class="table table-bordered table-striped">
			    <tr>
				    <th width="50">
					    Активно
				    </th>
				    <th width="200">
					    Дата изменения
				    </th>
				    <th width="200">
					    Пользователь
				    </th>	
				    <th width="80">
					    Символов
				    </th>
				    <th width="80">
					    Просмотр
				    </th>   
				    <th>
					    Комментарий
                    </th>
                    {% if current_user.is_authenticated() %}
                        {% if current_user.is_admin() %}
                            <th width="20">
                                Удалить
                            </th>
                        {% endif %}
                    {% endif %}
			</tr>
			    {% for page in pages['posts'] %}
				    <tr>
					    <td>
                            <input type="radio" name="history" {% if page['public'] == True %} checked {% endif %} value="{{page['_id']}}">&nbsp
					    </td>
					    <td>
						    {{ page['creation_date'] }}
					    </td>
					    <td>
                            {{ page['user'] }}
					    </td>
					    <td>
						    {{ page['size'] }}
					    </td>
					    <td>
                            <a href="/wiki/{{word}}/history/{{page['_id']}}">
                                <img width="20" height="20" src="{{ url_for( '.static', filename='images/lupa.jpg' ) }}">
                            </a>
					    </td>
					    <td>
						    {{ page['comment'] }}					
                        </td>
                            {% if current_user.is_authenticated() %}
                                {% if current_user.is_admin() %}
                                    <td>
                                        <a {% if page['public'] == True %} public="1"{% else %} public="0"  {% endif %} class="delete_page" href="{{ url_for('.delete_page', page_id=page['_id'], word = word) }}"><img title="Удалить" src="{{ url_for('.static', filename="images/delete.gif") }}">
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
				</tr>
            {% endfor %}
	    </table>
        
    <div class="row-fluid">
        <div class="span12">
			<input type="submit" class="btn btn-primary" value="Сохранить">
        </div>
    </div>
</form>
</div>
  {% include "delete_page_dialog.html" %}
  
{% else %}
  <div style="color:red;">
    Пусто
  </div>
{% endif %}
{% endblock %}
