{% extends "_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}                                                            
    <div class="row-fluid">
        <div class="span12">
            <div class="title">
                Последние правки
            </div>  
            <hr class="line">
        </div>
    </div>

    {% if pages %}
        {% for page in pages %}
            <div class="block navbar-inner">
                <div class="title">
                    <a href="{{ url_for('.view', word=page.url) }}">{{ page.title }}</a>
                </div>
                
                <div>
                    Внес изменения: {{ page.user }}
                </div>
                <div>
                    Дата создания: {{ page.creation_date }}
                </div>
                <div>
                    Дата модификации: {{ page.modify_date }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div style="color:red;">
            Пусто
        </div>
    {% endif %}
{% endblock %}
