{% extends "_base.html" %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
    {% if message %}
      <div class="errors" style="text-align:left;">
        {{ message }}
      </div>
    {% else %}
      <div style="color:blue;font-size:12px;text-align:right">
        Teги:
        {% for d in page.tags %}
          <a href="/wiki/tags/{{d}}">{{d}}</a>
        {% endfor %}
      </div>
      
      <div class="title">
		    {{ page.title }}
	    </div>

	    <hr class="line">
	
	    <div class="text">
		    {{ page.text|safe }}
      </div>

  {% include "delete_page_dialog.html" %}

  {% endif %}

{% endblock %}
