{% extends "_base.html" %}
{% block content %}
  <form method="post" id="form" action="/wiki/{{word}}/edit">
    {% if form.errors %}
      <div class="errors">
        {% if form.errors.title %}
          <div class="error">
            Ошибка: {{ form.errors.title[0] }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  <div class="title">
    Заглавная страница: {{action_page}}
  </div>
  <hr class="line">

   <div class="block">
     <div style="width:120px;float:left;">
        Заголовок
     </div>
     <div>
       {{ form.title(class="text_field_line") }}
     </div>
   </div>
  <br>
   <div class="block">
     <div id="wmd-button-bar" class="wmd-panel"></div>
     <div>{{ form.text(class = "text_field", id="wmd-input") }}</div>
     <script type="text/javascript" src="{{ url_for( '.static', filename='js/wmd.js' ) }}"></script>
   </div>
  
  <div class="block">
    <input type="submit" value="Сохранить"/>
  </div>

</form>

{% include "delete_page_dialog.html" %}

{% endblock %}
