{% extends "_base.html" %}
{% block content %}
  <form method="post" class="form-horizontal well" id="form" action="/wiki/{{word}}/edit">
    {% if form.errors %}
        <div class="errors">
            {% if form.errors.access %}
                <div class="error">
                    Ошибка: {{ form.errors.access[0] }}
                </div>
            {% endif %}
            
            {% if form.errors.access_show %}
                <div class="error">
                    Ошибка: {{ form.errors.access_show[0] }}
                </div>
            {% endif %}
      </div>
    {% endif %}

    <div class="title">
        Левое меню: {{action_page}}
    </div>
    <hr class="line">
    
    <div>
        <div id="wmd-button-bar" class="wmd-panel"></div>
        <div>{{ form.text(class = "text_field", id="wmd-input") }}</div>
{#     <script type="text/javascript" src="{{ url_for( '.static', filename='js/wmd.js' ) }}"></script>
#}  </div>
  
    <input type="submit" class="btn btn-primary" value="Сохранить"/>

</form>

{% include "delete_page_dialog.html" %}

{% endblock %}
